This is a stab at creating a churn prediction classifier.  I'm using a sample data set of 50K records from a ride sharing service. Predicting users that have a high churn risk enables the business to bucket these users separately for special promotional incentives, allocation of client service resources, etc to drive reengagement and prevent churn.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
data = pd.read_csv('data/churn.csv')

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 12 columns):
avg_dist                  50000 non-null float64
avg_rating_by_driver      49799 non-null float64
avg_rating_of_driver      41878 non-null float64
avg_surge                 50000 non-null float64
city                      50000 non-null object
last_trip_date            50000 non-null object
phone                     49604 non-null object
signup_date               50000 non-null object
surge_pct                 50000 non-null float64
trips_in_first_30_days    50000 non-null int64
luxury_car_user           50000 non-null bool
weekday_pct               50000 non-null float64
dtypes: bool(1), float64(6), int64(1), object(4)
memory usage: 4.2+ MB

In [5]:
data.head()

,avg_dist,avg_rating_by_driver,avg_rating_of_driver,avg_surge,city,last_trip_date,phone,signup_date,surge_pct,trips_in_first_30_days,luxury_car_user,weekday_pct
0,3.67,5.0,4.7,1.10,King's Landing,2014-06-17,iPhone,2014-01-25,15.4,4,True,46.2
1,8.26,5.0,5.0,1.00,Astapor,2014-05-05,Android,2014-01-29,0.0,0,False,50.0
2,0.77,5.0,4.3,1.00,Astapor,2014-01-07,iPhone,2014-01-06,0.0,3,False,100.0
3,2.36,4.9,4.6,1.14,King's Landing,2014-06-29,iPhone,2014-01-10,20.0,9,True,80.0
4,3.13,4.9,4.4,1.19,Winterfell,2014-03-15,Android,2014-01-27,11.8,14,False,82.4

In [6]:
#converting the date columns to datetime format
data.last_trip_date = pd.to_datetime(data.last_trip_date, format = '%Y-%m-%d')
data.signup_date = pd.to_datetime(data.signup_date, format = '%Y-%m-%d')
data.head()

,avg_dist,avg_rating_by_driver,avg_rating_of_driver,avg_surge,city,last_trip_date,phone,signup_date,surge_pct,trips_in_first_30_days,luxury_car_user,weekday_pct
0,3.67,5.0,4.7,1.10,King's Landing,2014-06-17,iPhone,2014-01-25,15.4,4,True,46.2
1,8.26,5.0,5.0,1.00,Astapor,2014-05-05,Android,2014-01-29,0.0,0,False,50.0
2,0.77,5.0,4.3,1.00,Astapor,2014-01-07,iPhone,2014-01-06,0.0,3,False,100.0
3,2.36,4.9,4.6,1.14,King's Landing,2014-06-29,iPhone,2014-01-10,20.0,9,True,80.0
4,3.13,4.9,4.4,1.19,Winterfell,2014-03-15,Android,2014-01-27,11.8,14,False,82.4

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 12 columns):
avg_dist                  50000 non-null float64
avg_rating_by_driver      49799 non-null float64
avg_rating_of_driver      41878 non-null float64
avg_surge                 50000 non-null float64
city                      50000 non-null object
last_trip_date            50000 non-null datetime64[ns]
phone                     49604 non-null object
signup_date               50000 non-null datetime64[ns]
surge_pct                 50000 non-null float64
trips_in_first_30_days    50000 non-null int64
luxury_car_user           50000 non-null bool
weekday_pct               50000 non-null float64
dtypes: bool(1), datetime64[ns](2), float64(6), int64(1), object(2)
memory usage: 4.2+ MB

In [8]:
#defining churn as any user who hasn't used service in past month
data['churn'] = data.last_trip_date < '2014-06-01'

In [9]:
data.head()

,avg_dist,avg_rating_by_driver,avg_rating_of_driver,avg_surge,city,last_trip_date,phone,signup_date,surge_pct,trips_in_first_30_days,luxury_car_user,weekday_pct,churn
0,3.67,5.0,4.7,1.10,King's Landing,2014-06-17,iPhone,2014-01-25,15.4,4,True,46.2,False
1,8.26,5.0,5.0,1.00,Astapor,2014-05-05,Android,2014-01-29,0.0,0,False,50.0,True
2,0.77,5.0,4.3,1.00,Astapor,2014-01-07,iPhone,2014-01-06,0.0,3,False,100.0,True
3,2.36,4.9,4.6,1.14,King's Landing,2014-06-29,iPhone,2014-01-10,20.0,9,True,80.0,False
4,3.13,4.9,4.4,1.19,Winterfell,2014-03-15,Android,2014-01-27,11.8,14,False,82.4,True

In [10]:
#~2/3 of users have churned
data.churn.value_counts()

True     31196
False    18804
Name: churn, dtype: int64

In [11]:
#replacing bool churn value with 1/0
data.churn = data['churn'].astype(int, inplace=True)

In [12]:
data.head()

,avg_dist,avg_rating_by_driver,avg_rating_of_driver,avg_surge,city,last_trip_date,phone,signup_date,surge_pct,trips_in_first_30_days,luxury_car_user,weekday_pct,churn
0,3.67,5.0,4.7,1.10,King's Landing,2014-06-17,iPhone,2014-01-25,15.4,4,True,46.2,0
1,8.26,5.0,5.0,1.00,Astapor,2014-05-05,Android,2014-01-29,0.0,0,False,50.0,1
2,0.77,5.0,4.3,1.00,Astapor,2014-01-07,iPhone,2014-01-06,0.0,3,False,100.0,1
3,2.36,4.9,4.6,1.14,King's Landing,2014-06-29,iPhone,2014-01-10,20.0,9,True,80.0,0
4,3.13,4.9,4.4,1.19,Winterfell,2014-03-15,Android,2014-01-27,11.8,14,False,82.4,1

In [13]:
data.phone.value_counts()

iPhone     34582
Android    15022
Name: phone, dtype: int64

In [14]:
#a handful of records don't include a phone value.  Addding a placeholder here.
data.phone = data.phone.fillna('empty_phone')

In [15]:
#creating dummies for phone and city categorical vars
data.city = data.city.astype("category")
data.phone = data.phone.astype('category')

In [16]:
pd.crosstab(data.phone, data.city)

city         Astapor  King's Landing  Winterfell
phone
Android         5244            2498        7280
empty_phone      121              64         211
iPhone         11169            7568       15845

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 13 columns):
avg_dist                  50000 non-null float64
avg_rating_by_driver      49799 non-null float64
avg_rating_of_driver      41878 non-null float64
avg_surge                 50000 non-null float64
city                      50000 non-null category
last_trip_date            50000 non-null datetime64[ns]
phone                     50000 non-null category
signup_date               50000 non-null datetime64[ns]
surge_pct                 50000 non-null float64
trips_in_first_30_days    50000 non-null int64
luxury_car_user           50000 non-null bool
weekday_pct               50000 non-null float64
churn                     50000 non-null int64
dtypes: bool(1), category(2), datetime64[ns](2), float64(6), int64(2)
memory usage: 4.0 MB

What to do about missing values?
-the ratings vars need to be removed, imputed with some value, or binned separately as having 'empty' value
-the first two options should be considered when the values are missing at random, otherwise we should bin
-to determine whether the missing values are random we can observe whether the missing values have an effect on churn by comparing the churn rate of users who have missing values v those who do not.  
*Disclaimer* I stole this technique from a very smart person in my Galvanize DSI cohort

Some info on the scs function I'll use to compare the groups of records....

    scipy.stats.ttest_ind(a, b, axis=0, equal_var=True)[source]
    Calculates the T-test for the means of TWO INDEPENDENT samples of scores.

    This is a two-sided test for the null hypothesis that 2 independent samples have identical average (expected) 
    values. This test assumes that the populations have identical variances.

In [18]:
#writing a function to run t-test between groups that do and don't posess a particular condition
#used to determine whether the condition affects churn rate.  If not, we can either drop records with missing vals 
#or impute a value.  Otherwise, we should retain the records and bin them separately

import scipy.stats as scs

def t_test(feature, condition):
    '''
    INPUT feature (a pandas Series): the column of interest
    INPUT condition (boolean): condition to t-test by
    OUTPUT
    '''
    #test takes in a Series and applies the condition: the churn column where phone is null
    #compares this sample to the opposite: churn column where phone IS NOT null
    #compares the means of each sample to one another (mean of array of 1s/0s)
    #runs t-test 

    ttest = scs.ttest_ind(feature[condition], feature[-condition])
    print '***t-test for difference in means***'
    print 'user count with condition: {}, user count without condition: {}'\
        .format(len(feature[condition]), len(feature[-condition]))
    print 'mean with condition: {}, mean without condition: {}'\
        .format(feature[condition].mean(), feature[-condition].mean())
    print 't statistic: {}'.format(ttest.statistic, 4)
    print 'p-value: {}'.format(ttest.pvalue)

In [19]:
# Measure the effect of empty phone values
t_test(data['churn'], data['phone'] == 'empty_phone')

***t-test for difference in means***
user count with condition: 396, user count without condition: 49604
mean with condition: 0.664141414141, mean without condition: 0.623598903314
t statistic: 1.65893845728
p-value: 0.0971344664588

this condition does not generate a statistically significant difference in churn rate.  we can therefore drop the records with missing phone

In [20]:
data = data[data['phone'] != 'empty_phone']

In [21]:
#verifying dropped records
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49604 entries, 0 to 49999
Data columns (total 13 columns):
avg_dist                  49604 non-null float64
avg_rating_by_driver      49406 non-null float64
avg_rating_of_driver      41578 non-null float64
avg_surge                 49604 non-null float64
city                      49604 non-null category
last_trip_date            49604 non-null datetime64[ns]
phone                     49604 non-null category
signup_date               49604 non-null datetime64[ns]
surge_pct                 49604 non-null float64
trips_in_first_30_days    49604 non-null int64
luxury_car_user           49604 non-null bool
weekday_pct               49604 non-null float64
churn                     49604 non-null int64
dtypes: bool(1), category(2), datetime64[ns](2), float64(6), int64(2)
memory usage: 4.3 MB

In [22]:
#Measure the effect of missing avg_rating_by_driver values
t_test(data['churn'], data['avg_rating_by_driver'].isnull())

***t-test for difference in means***
user count with condition: 198, user count without condition: 49406
mean with condition: 0.818181818182, mean without condition: 0.622819090799
t statistic: 5.6644709906
p-value: 1.48293067402e-08

In [23]:
#Measure the effect of missing avg_rating_of_driver values
t_test(data['churn'], data['avg_rating_of_driver'].isnull())

***t-test for difference in means***
user count with condition: 8026, user count without condition: 41578
mean with condition: 0.797906802891, mean without condition: 0.589951416615
t statistic: 35.6534139171
p-value: 6.34574724075e-275

these conditions generate statistically significant differences in churn rate.  we therefore need to retain these records and information by bucketing the records separately

In [24]:
data.head()

,avg_dist,avg_rating_by_driver,avg_rating_of_driver,avg_surge,city,last_trip_date,phone,signup_date,surge_pct,trips_in_first_30_days,luxury_car_user,weekday_pct,churn
0,3.67,5.0,4.7,1.10,King's Landing,2014-06-17,iPhone,2014-01-25,15.4,4,True,46.2,0
1,8.26,5.0,5.0,1.00,Astapor,2014-05-05,Android,2014-01-29,0.0,0,False,50.0,1
2,0.77,5.0,4.3,1.00,Astapor,2014-01-07,iPhone,2014-01-06,0.0,3,False,100.0,1
3,2.36,4.9,4.6,1.14,King's Landing,2014-06-29,iPhone,2014-01-10,20.0,9,True,80.0,0
4,3.13,4.9,4.4,1.19,Winterfell,2014-03-15,Android,2014-01-27,11.8,14,False,82.4,1

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49604 entries, 0 to 49999
Data columns (total 13 columns):
avg_dist                  49604 non-null float64
avg_rating_by_driver      49406 non-null float64
avg_rating_of_driver      41578 non-null float64
avg_surge                 49604 non-null float64
city                      49604 non-null category
last_trip_date            49604 non-null datetime64[ns]
phone                     49604 non-null category
signup_date               49604 non-null datetime64[ns]
surge_pct                 49604 non-null float64
trips_in_first_30_days    49604 non-null int64
luxury_car_user           49604 non-null bool
weekday_pct               49604 non-null float64
churn                     49604 non-null int64
dtypes: bool(1), category(2), datetime64[ns](2), float64(6), int64(2)
memory usage: 4.3 MB

In [26]:
def add_binned_ratings(df, old_col, new_col):
    '''
    Add column for binned ratings.
    
    INPUT:
    - df (full dataframe)
    - old_col (str): column name of average ratings
    - new_col (str): new column name for binned average ratings
    OUTPUT:
    - new dataframe
    '''
    df[new_col] = pd.cut(df[old_col].copy(), bins=[0., 3.99, 4.99, 5],
                            include_lowest=True, right=True)
    df[new_col].cat.add_categories('Missing', inplace=True)
    df[new_col].fillna('Missing', inplace=True)                        
    return df

data = add_binned_ratings(data, 'avg_rating_by_driver', 'bin_avg_rating_by_driver')
data = add_binned_ratings(data, 'avg_rating_of_driver', 'bin_avg_rating_of_driver')

In [27]:
data.head()

,avg_dist,avg_rating_by_driver,avg_rating_of_driver,avg_surge,city,last_trip_date,phone,signup_date,surge_pct,trips_in_first_30_days,luxury_car_user,weekday_pct,churn,bin_avg_rating_by_driver,bin_avg_rating_of_driver
0,3.67,5.0,4.7,1.10,King's Landing,2014-06-17,iPhone,2014-01-25,15.4,4,True,46.2,0,"(4.99, 5]","(3.99, 4.99]"
1,8.26,5.0,5.0,1.00,Astapor,2014-05-05,Android,2014-01-29,0.0,0,False,50.0,1,"(4.99, 5]","(4.99, 5]"
2,0.77,5.0,4.3,1.00,Astapor,2014-01-07,iPhone,2014-01-06,0.0,3,False,100.0,1,"(4.99, 5]","(3.99, 4.99]"
3,2.36,4.9,4.6,1.14,King's Landing,2014-06-29,iPhone,2014-01-10,20.0,9,True,80.0,0,"(3.99, 4.99]","(3.99, 4.99]"
4,3.13,4.9,4.4,1.19,Winterfell,2014-03-15,Android,2014-01-27,11.8,14,False,82.4,1,"(3.99, 4.99]","(3.99, 4.99]"

In [28]:
data.bin_avg_rating_by_driver.value_counts()

(4.99, 5]       28271
(3.99, 4.99]    19573
[0, 3.99]        1562
Missing           198
Name: bin_avg_rating_by_driver, dtype: int64

In [29]:
data.bin_avg_rating_of_driver.value_counts()

(4.99, 5]       20625
(3.99, 4.99]    17165
Missing          8026
[0, 3.99]        3788
Name: bin_avg_rating_of_driver, dtype: int64

In [30]:
data.drop(['avg_rating_by_driver','avg_rating_of_driver'], axis=1, inplace=True)

In [31]:
data.head()

,avg_dist,avg_surge,city,last_trip_date,phone,signup_date,surge_pct,trips_in_first_30_days,luxury_car_user,weekday_pct,churn,bin_avg_rating_by_driver,bin_avg_rating_of_driver
0,3.67,1.10,King's Landing,2014-06-17,iPhone,2014-01-25,15.4,4,True,46.2,0,"(4.99, 5]","(3.99, 4.99]"
1,8.26,1.00,Astapor,2014-05-05,Android,2014-01-29,0.0,0,False,50.0,1,"(4.99, 5]","(4.99, 5]"
2,0.77,1.00,Astapor,2014-01-07,iPhone,2014-01-06,0.0,3,False,100.0,1,"(4.99, 5]","(3.99, 4.99]"
3,2.36,1.14,King's Landing,2014-06-29,iPhone,2014-01-10,20.0,9,True,80.0,0,"(3.99, 4.99]","(3.99, 4.99]"
4,3.13,1.19,Winterfell,2014-03-15,Android,2014-01-27,11.8,14,False,82.4,1,"(3.99, 4.99]","(3.99, 4.99]"

EDA (working on this)

hypotheses
-price matters: avg_surge is correlated with churn, surge_pct correlated with churn
-high ratings matter: higher bin negatively correlates with churn 
-high usage matters: avg_dist * trips_in_first_30_days as proxy for total distance ridden, negatively correlated with churn
-phone matters: iPhone users have better experiences with app than Android users bc of phone software fragmentation
-high weekday usage matters: high weekday_pct might be an indicator that one is reliant on a ride share service for their commute, therefore less likely to churn
-initial usage habits matter: trips_in_first_30_days is negatievly correlated with churn
-lack of ratings by user could indicate underutilization of service features, low level utility
-lack of ratings by driver could indicate perception of poor customer experience

In [33]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
avg_dist,49604.0,5.785418,5.669709,0.0,2.42,3.88,6.93,160.96
avg_surge,49604.0,1.074991,0.222666,1.0,1.00,1.00,1.05,8.00
surge_pct,49604.0,8.875314,19.989018,0.0,0.00,0.00,8.70,100.00
trips_in_first_30_days,49604.0,2.277256,3.793300,0.0,0.00,1.00,3.00,125.00
weekday_pct,49604.0,60.883832,37.086239,0.0,33.30,66.70,100.00,100.00
churn,49604.0,0.623599,0.484487,0.0,0.00,1.00,1.00,1.00

In [34]:
data.groupby(['churn']).mean()

,avg_dist,avg_surge,surge_pct,trips_in_first_30_days,luxury_car_user,weekday_pct
churn,,,,,,
0,5.113930,1.073834,9.165615,3.304804,0.503990,61.344208
1,6.190725,1.075689,8.700091,1.657033,0.297482,60.605952

In [35]:
data.groupby(['churn']).describe().T

churn                         0                                           \
                          count       mean        std  min    25%    50%
avg_dist                18671.0   5.113930   4.617779  0.0   2.56   3.73
avg_surge               18671.0   1.073834   0.162905  1.0   1.00   1.00
surge_pct               18671.0   9.165615  15.599652  0.0   0.00   0.00
trips_in_first_30_days  18671.0   3.304804   4.985057  0.0   0.00   2.00
weekday_pct             18671.0  61.344208  29.512875  0.0  44.40  64.30

churn                                        1                             \
                          75%     max    count       mean        std  min
avg_dist                 5.89  160.96  30933.0   6.190725   6.184010  0.0
avg_surge                1.09    4.50  30933.0   1.075689   0.251969  1.0
surge_pct               13.30  100.00  30933.0   8.700091  22.221133  0.0
trips_in_first_30_days   4.00  125.00  30933.0   1.657033   2.655767  0.0
weekday_pct             84.60  100.00  30933.0  60.605952  40.983689  0.0

churn
                          25%    50%     75%     max
avg_dist                 2.31   4.03    7.78   79.69
avg_surge                1.00   1.00    1.00    8.00
surge_pct                0.00   0.00    0.00  100.00
trips_in_first_30_days   0.00   1.00    2.00   73.00
weekday_pct             16.70  69.20  100.00  100.00

surprisingly, churners have a higher average distance mean and median, higher distance in the 75th percentile. Not surprisingly, they take fewer trips in the first 30 days on average (mean and median).  These could be linked somehow (eg riders who use the service for relatively rare one-offs like airport drop offs.) Comparing medians of the first two groups, churners ride on 1x in the first 30 whereas non-churners ride 2x.  There could be an action here - getting users to ride 2x via an incentive program. 

Churners seem much more likely to be weekday-only riders. In fact, this looks to be a sizable group: of the 31K churners, a full 1/4 of them are weekday only.  May be worth looking at these users as fundamentaly different than the rest.

surge pct doesn't seem to have a big impact.  Non-churners actually have a higher rate of surge_pct.

In [36]:
data.groupby(['churn','phone']).describe().T

churn                        0                                             \
phone                  Android
                         count       mean        std  min      25%    50%
avg_dist                3146.0   5.165420   5.163366  0.0   2.6725   3.84
avg_surge               3146.0   1.062508   0.151789  1.0   1.0000   1.00
surge_pct               3146.0   8.181659  15.406604  0.0   0.0000   0.00
trips_in_first_30_days  3146.0   2.985696   4.604841  0.0   0.0000   2.00
weekday_pct             3146.0  60.739479  31.011584  0.0  42.9000  65.20

churn                                                        ...         1  \
phone                                    iPhone              ...   Android
                           75%     max    count       mean   ...       75%
avg_dist                 5.940  160.96  15525.0   5.103496   ...      7.76
avg_surge                1.070    4.25  15525.0   1.076129   ...      1.00
surge_pct               11.100  100.00  15525.0   9.365005   ...      0.00
trips_in_first_30_days   4.000   47.00  15525.0   3.369469   ...      2.00
weekday_pct             86.075  100.00  15525.0  61.466750   ...    100.00

churn                                                                      \
phone                            iPhone
                           max    count       mean        std  min    25%
avg_dist                 63.15  19057.0   6.188563   6.245478  0.0   2.28
avg_surge                 5.00  19057.0   1.076643   0.255138  1.0   1.00
surge_pct               100.00  19057.0   8.740384  22.058948  0.0   0.00
trips_in_first_30_days   73.00  19057.0   1.657291   2.692200  0.0   0.00
weekday_pct             100.00  19057.0  60.787816  40.852273  0.0  20.00

churn
phone
                          50%    75%     max
avg_dist                 3.99    7.8   79.69
avg_surge                1.00    1.0    8.00
surge_pct                0.00    0.0  100.00
trips_in_first_30_days   1.00    2.0   56.00
weekday_pct             69.60  100.0  100.00

[5 rows x 32 columns]

Pipeline (working on this)

Model Training and Selection (working on this)

Hyperparameter Tuning (coming soon)

TEST